body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

header, main, footer {
    max-width: 600px;
    margin: 0.5rem auto;
    border: 1px solid #bbb;
    padding: 1rem;
    background-color: #eee;
}

h1 {
    color: navy;
    float: right;
}

img {
    width: 300px;
    float: left;
}