body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    min-width: 300px;
}

header, main, footer {
    max-width: 600px;
    margin: 0.5rem auto;
    padding: 1rem;
}

header {
    border: 1px solid #bbbbbb;
    background-color: #eeeeee;
}

img {    
    width: 200px;
    float: left;
}

h1 {
    color: navy;
    float: right;
    align-items: center;
    justify-content: center;
    padding-left: 45px;
    padding-right: 30px;
    padding-top: 90px;
}

footer {
    border: 1px solid #bbbbbb;
    background-color: #eeeeee;
}

#update {
    padding-left: 60px;
}