@media only screen and (min-width: 64rem) {
    
    nav button {display: none}
 
    nav ul#primaryNav {
        display: flex;
        justify-content: center;
        border-left: 1px solid rgba(0,0,0,0.3);
    }

    nav ul li a {
        border: none;
        border-right: 1px solid rgba(0,0,0,0.3);
        padding: .5rem 1rem;
    }

    #header-logo {
        width: 125px;
    }
    
    #header-facebook {
        max-width: 60px;
    }
    
    #header-pinterest {
        max-width: 60px;
    }

    #header-span-center{
        font-size: 1.3em;
    }

    #header-span-left{
        margin-right: 2vw;
    }
    
    #header-span-right{
        margin-top: 5.5vh;
        margin-left: 2vw;
    }

    header h2 {
        min-width: 50%;
    }
    
    #navigation-date {
        font-size: 1.15em;
    }

    body {
        width: 100%;
        max-width: 2000px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    main div {
        margin-left: auto;
        margin-right: auto;
    }

    #hero {
        width: 100%;
        max-width: 2000px;
    }

    .greeting {
        font-size: 5em;
    }
    
    #joinBtn {
        font-size: 2em;
    }

    main div h2 {
        font-size: 1.5em;
    }

}