@media only screen and (min-width: 35rem) {

    #header-logo {
        width: 100px;
    }

    #header-facebook {
        max-width: 55px;
    }
    
    #header-pinterest {
        max-width: 55px;
    }
    
    #header-span-center{
        font-size: 1.1em;
    }

    #header-span-left{
        margin-right: 3vw;
    }
    
    #header-span-right{
        margin-top: 4.5vh;
        margin-left: 3vw;
    }

    #navigation-date {
        font-size: 1.1em;
    }
    
    body {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    #banner {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    #hero {
        max-width: 970px;
        margin-bottom: -16.4em;
    }

    .greeting {
        top: -29.5vh;
        font-size: 3.5em;
    }
    
    #joinBtn {
        top: -6.5em;
        font-size: 2em;
    }

    main div {
        text-align: center;
    }

    #news {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    #raffl {
        display: flex;
        flex-direction: column;
        height: 305px;
    }

    #qr {
        width: 100px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        background-color: #eee;
    }

    #raffle {
        display: block;
        margin-left: auto;
        margin-right: auto;
        left: 0px;
        top: 0px;
    }

    #weathr {
        display: flex;
        flex-direction: column;
        height: 305px;
    }
    
    #weather {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    #weather-p {
        left: 0px;
        top: 0px;
        max-width: 300px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    
    #footer-bottom {
        text-align: center;
    }

    footer {
        text-align: left;
        height: 185px;
    }

    #footer-logo {
        text-align: left;
        padding-left: 1em;
    }

    footer h3 {
        text-align: left;
        font-size: 1.5em;
        padding-left: 1em;
        margin-top: -85px;
        margin-left: 110px;
    }

    #footer-left p {
        font-size: 1em;
        text-align: left;
        padding-left: 2.25em;
        margin-left: 100px;
    }

    #footer-right p {
        font-size: 1em;
        text-align: right;
        padding-right: 1.7em;
        margin-top: -35px;
    }

    #footer-right .end {
        margin-top: 31px;
        padding-bottom: 2.3em;
    }
}