/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html       {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
         * { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }


           /* Schema of Colors and Fonts */
:root      {--primary-color: #383E4B;
            --secondary-color: #52647C;
            --accent1-color: #6E838D;
            --accent2-color: #8999A9;
            --accent3-color: #AEADB3;

            --page-background: #2B303A;
            --page-background-layer2: #e6e6e6;
            --headline-color-on-white: #902625;
            --headline-color-on-color: #AEADB3;
            --subtitle-color-on-white: #383E4B;
            --paragraph-color-on-white: #111111;
            --paragraph-color-on-color: #F0F0F0;
            --text-background-color: #52647C;
            --header-title: #383E4B;
            --header-background-color: #aaaaaf;
            --nav-link-color: #e3ab57;
            --nav-background-color: #214946;
            --nav-paragraph-background-color: rgba(0,0,0,0.3);
            --nav-paragraph-color: rgba(255, 255, 255, 75%);

            --title-font: "Sorts Mill Goudy", sans-serif;
            --heading-font: "Raleway", sans-serif;
            --paragraph-font: "Pridi", serif;}


/*/ HTML /*/ 
html   {background-color: var(--page-background);}
    /*/ Body /*/     
    body   {background-color: var(--page-background-layer2);}
        /*/ Header /*/    
        header                                 {background-color: var(--header-background-color);
                                                color: var(--paragraph-color-on-color);
                                                display: flex;
                                                flex-direction: column;
                                                text-align: center;}
        header section                         {display: grid;
                                                grid-template-columns: 1fr 1fr 1fr;}
        header h1                              {color: var(--header-title);
                                                font-family:'Noto Sans', sans-serif;
                                                font-variant: small-caps;
                                                font-size: 2.2em;
                                                font-weight: bold;
                                                grid-column: 2;}
        nav                                    {background-color: var(--nav-background-color);
                                                padding: 1rem;}
        nav button                             {background-color: transparent;
                                                border: none;
                                                border-color: rgba(255,255,255,0.3);
                                                border-style: solid;
                                                border-width: 1px;
                                                color: #fff;
                                                font-size: 2rem;}
        nav button span:nth-child(1)           {display: block;}
        nav button span:nth-child(2)           {display: none;}
        nav button.open span:nth-child(1)      {display: none;}  
        nav button.open span:nth-child(2)      {display: block;}                                                                              
        nav p                                  {background-color: var(--nav-paragraph-background-color);
                                                color: var(--nav-paragraph-color);
                                                font-family: "Raleway", sans-serif;
                                                text-align:center;}
        nav ul                                 {display: none;
                                                list-style: none;
                                                margin: 0;
                                                padding: 0;
                                                text-align:center;}
        nav ul li a                            {border-top: 1px solid rgba(0,0,0,0.5);
                                                color: var(--nav-link-color);
                                                display: block;
                                                font-family: "Raleway", sans-serif;
                                                padding: .8rem 2vw;
                                                text-decoration: none;}
        nav ul li.active a                     {background-color: rgba(0,0,0,0.2);
                                                color: #fff;}
        nav ul li a:hover                      {background-color: rgba(0,0,0,0.3);}       /* Move this below the active class for the products block to change color when hovered over*/
        nav ul.open                            {display: block;}
        #header-facebook                       {border-radius: 100%;
                                                height: auto;
                                                width: 50px;}
        #header-logo                           {grid-column: 1;
                                                height: auto;
                                                margin: auto;
                                                width: 85px;}
        #header-pinterest                      {border-radius: 100%;
                                                height: auto;
                                                width: 50px;}
        #navigation-date                       {border-color: rgba(55,91,88,0.7);
                                                border-style: solid;
                                                border-width: 1px;
                                                padding: 1rem;}
        .social-media                          {grid-column: 3; 
                                                margin: auto;}                            


        /*/ Main /*/
        form fieldset                          {margin: 2rem 0;
                                                border: 1px solid purple;
                                                border-radius: 5px;
                                                padding: .5rem 2%;
                                                font-family: var(--paragraph-font);}
        form legend                            {color: purple;
                                                margin: 0 1rem;
                                                padding: 0 .5rem;}
        form label.top, form div               {display: block;
                                                padding-top: 1rem;
                                                font-size: .8rem;}
        form label.bottom textarea             {display: block;
                                                margin-top: 1rem;
                                                margin-bottom: 1rem;
                                                font-size: 1rem;
                                                border: solid 1px #999;
                                                border-radius: 4px;}
        form label.top input, form label.top select {--webkit-appearance: none;
                                                display: block;
                                                font-size: 1rem;
                                                border: solid 1px #999;
                                                border-radius: 4px;
                                                padding: .75rem;
                                                color: #555;
                                                width: 100%;
                                                max-width: 20rem;
                                                background-color: rgba(0,0,0,0.1);}
        form .sbs                              {display: block; /*makes them stack*/
                                                padding: .75px;
                                                color: #555;}
        form input.submitBtn                   {background-color: #902625;
                                                color: white;
                                                padding: .75rem 1.5rem;
                                                margin: 0 0 2rem 2%;
                                                width: 96%; /*adequate smaller screens*/
                                                max-width: 20rem; /*for larger screens*/}
        form label.top input:required          {border-left: red solid 6px;}
        form label.top input:required:valid    {border-left: green solid 6px;}

        main                                   {padding: 1rem;}
        main .directory                        {font-size: 3em; margin: 2.3rem;}
        main div                               {background-color: var(--text-background-color);
                                                border-color: var(--primary-color);
                                                border-radius: 5px;
                                                border-style: solid;
                                                border-width: 1px;
                                                color: var(--paragraph-color-on-color);
                                                font-family: var(--paragraph-font);
                                                margin: 1rem;}
        main div h2                            {margin-left: 1rem;}
        main div p                             {margin-left: 1rem;
                                                margin-right: 1rem;}
        main div img                           {margin-left: 1rem;}
        main figure                            {display: grid;}
        main figure img                        {border-radius: 25px;
                                                grid-row: 1;
                                                grid-column: 1;
                                                height: auto;
                                                width: 100%;}
        main figure figcaption                 {grid-column: 1;
                                                grid-row: 2;
                                                margin-top: auto;
                                                margin-bottom: auto;}
        main figure figcaption button          {background-color: rgba(106,82,124,1);
                                                border-color: var(--primary-color);
                                                border-radius: 5px;
                                                border-style: solid;
                                                border-width: 1px;
                                                color: var(--paragraph-color-on-color);
                                                display: block;
                                                margin: auto;
                                                padding: 0.5rem;}
        main figure figcaption p               {color: #fff;
                                                font-family: var(--title-font);
                                                font-size: 1.5em;
                                                text-align: center;
                                                text-shadow: 2px 2px 4px #000000;}
        main h1, h2, h3                        {color: var(--subtitle-color-on-color);
                                                font-family: var(--heading-font);
                                                font-size: 1.3em;}
        main h4                                {font-family: var(--heading-font);
                                                margin-bottom: 0.25rem;
                                                margin-left: 1rem;
                                                max-width: fit-content;}
        main p                                 {background-color: var(--text-background-color);
                                                color: var(--paragraph-color-on-color);
                                                font-family: var(--paragraph-font);
                                                margin: 0.06rem;
                                                padding: 0.5rem;
                                                max-width: 98%;}
        main section div                       {background-color: var(--text-background-color);
                                                border-radius: 5px;
                                                box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
                                                color: var(--paragraph-color-on-color);
                                                font-style: oblique;}
        main section div h2                    {margin-left: 1rem;}
        main section div p                     {margin-left: 1rem;}
        main span                              {font-family: var(--heading-font);
                                                font-size: 1.3em;
                                                margin: 0.5rem;}
        #banner                                {background-color: rgba(50,150,0, 0.65);
                                                border-color: var(--primary-color);
                                                border-radius: 5px;
                                                border-style: solid;
                                                border-width: 1px;
                                                font-family: 'Noto Sans';
                                                margin: auto;
                                                padding: 0.5rem;
                                                width: max-content;}
        .discover                              {padding:0;}
        .discover div                          {padding: 1rem;}
        .discover div h2, h3                   {margin-left: 2.5rem;}
        .discover p                            {margin-left: 2.5rem; padding: 0;}
        .discover h2                           {color: var(--subtitle-color-on-color);
                                                font-family: var(--heading-font);
                                                font-size: 1.3em;}
        .discover h3                           {color: var(--subtitle-color-on-color);
                                                font-family: var(--heading-font);}
        .discover figure                       {flex-direction: column;
                                                padding: 1rem;}
        .discover figure img                   {border-radius: 25px;
                                                margin: auto;
                                                width: 100%;
                                                height: auto;}
        .discover figure figcaption            {font-family: "Arial", sans-serif;
                                                margin: auto;
                                                padding-top: 1rem;
                                                position: static;}
        #ftop                                  {padding-bottom: 2rem;}
        #fbottom                               {padding-bottom: 1rem;}
        .grid                                  {display: grid;
                                                grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));}
        #greeting                              {background-color: transparent;}
        #joinBtn:hover                         {background-color: rgba(106,82,124,0.92);}
        .last                                  {margin-bottom: 0.25rem;}
        .list                                  {display: flex;
                                                flex-direction: column;}
        #membership                            {padding-bottom: 2.25rem;}
        .menu                                  {margin: 1rem auto;
                                                border: 1px solid rgba(0, 0, 0, 0.1);
                                                padding: 0.5rem;
                                                background-color: #bbb;
                                                text-align: center;
                                                width: 250px;}
        .menu button                           {padding: 1rem;
                                                font-weight: 700;}
        #navigation-date                       {margin-left: 0;}
        .no-bullets                            {list-style: none;}
        #raffle img                            {background-color: #eee;
                                                height: auto;
                                                width: 100px;}
        #sbs8                                  {height: fit-content;}
        .sidebar                               {border:none;
                                                border-radius: 0;
                                                margin:0;}
        #thanks                                {text-align: center;}   
        #weather img                           {background-color: skyblue;
                                                width: 100px;}
        #weather figcaption                    {margin-left: 1rem;}
        #weather .description                  {margin-left:1rem;
                                                padding:0;}
        #weather .temp                         {border-width: 0;
                                                color: #ffffff;
                                                margin-left: 2.5rem;
                                                margin-top: 0.25rem;
                                                padding:0;
                                                text-align: center;
                                                max-width: max-content;}
        #weather #three-days-temp              {padding-bottom:2rem;}
          /* hover effect */
          .hover:hover                         {box-shadow: 0 0 50px #333;}


        /*/ Footer /*/
        footer                                 {background-color: var(--nav-background-color);
                                                color: rgba(255, 255, 255, 75%);
                                                padding-top: 1rem;
                                                text-align: center;}
        footer div p                           {font-family: "Gentium Basic", sans-serif;
                                                font-size: 1.1em;
                                                text-align: center;}
        footer h3                              {font-family: "Raleway", sans-serif;
                                                font-size: 1.4em;
                                                font-weight: bold;
                                                margin-top: 0.6rem;}
        #footer-bottom                         {border-top: 2px solid rgba(255, 255, 255, 25%);
                                                padding: 1rem;
                                                font-size: 0.8em;
                                                font-family: sans-serif;
                                                text-align: center;}
        #footer-logo                           {height:auto;
                                                width: 125px;}
        #footer-pin                            {height:auto;
                                                width: 14px;}