@media only screen and (min-width: 64rem) {

/*/ HTML /*/
    /*/ Body /*/
    body   {width: 100%;
            max-width: 2000px;
            display: block;
            margin-left: auto;
            margin-right: auto;}

        /*/ Header /*/
        header h1                       {font-size: 2.6em;}
        header section                  {padding: 1rem;}
        nav button                      {display: none}
        nav ul#primaryNav               {display: flex;
                                         justify-content: center;}   
        nav ul li a                     {border: none;
                                         border-right: 1px solid rgba(0,0,0,0.3);}
        #header-facebook                {width: 60px;}
        #header-logo                    {width: 105px;}
        #header-pinterest               {width: 60px;}
        #navigation-date                {font-size: 1.15em;}
        #primaryNav                     {font-size: 1.15em;}

        /*/ Main /*/
        form fieldset                   {max-width: 35%;}
        main figure figcaption p        {font-size: 2.5em;}
        main figure figcaption button   {font-size: 1.5em;}
        main div                        {font-size: 1.2em;}
        .discover                       {font-size: 1.2em;}
        .discover div                   {font-size: 1.2em;}
        .discover figure figcaption     {font-size: 1.2em;}
        #weather                        {display: grid;
                                         grid-template-columns: 200px 200px 200px 1fr;
                                         grid-template-rows: 41px 1fr;
                                         padding-bottom: 20.7168px;} 
        #weather-heading                {grid-column: 1; 
                                         grid-row: 1;}
        #weather .temp                  {margin-top:0;}
        #today                          {grid-column: 1; 
                                         grid-row: 2;}
        #tomorrow                       {grid-column: 2; 
                                         grid-row: 2;}
        #two-days                       {grid-column: 3; 
                                         grid-row: 2;}
        #three-days                     {grid-column: 4; 
                                         grid-row: 2;}
        
        /*/ Footer /*/
        footer                          {font-size: 1.1em;}
}