@media only screen and (min-width: 32.5em) {
    
    #logo {
        width: 50vh;

    }

    header {
        font-size: 1.4em;
    }

    main {
        padding: 2em;
    }

    main h1 {
        font-size: 5em;
    }
}