/* Body */
body 
   {display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;}
/* Dark Mode*/
    .dark-mode 
       {background-color: black;
        color: white;}

    /* 1 Navigation 1 */
    nav 
       {width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-family: 'Raleway', sans-serif;
        background-color: navy;
        color: white;
        padding: 1rem 0rem 2rem 0rem;}
    nav a 
       {text-decoration: none;
        color: white;}
        
       /* 1.1 Menu 1.1 */
       .menu {
            position: fixed;
            top: 0;
            list-style-type: none;
            margin: 0;
            padding: 0;
            background: #f7f7f7;
            z-index: 10;
            overflow: hidden;
            box-shadow: 2px 0 20px rgba(0, 0, 0, 0.26);
        }
        .menu li a {
            display: block;
            text-decoration: none;
            text-align: center;
            width: 10rem;
            padding: 0.9rem;
            color: #72739f;
            position: relative;
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);
            transition: background 0.5s ease-in-out;
            margin-right: 0;
        }
        .menu li button {
            text-align: center;
            padding: 0.3rem;
            margin-left: auto;
            margin-right: auto;
            margin-top: 1rem;
            margin-bottom: 1rem;
        }
        .menu li a:hover,
        .menu li:first-child a {
            background: #267fdd;
            color: #fff;
        }
        li a.menu-item {
            display: none;
        }
        li a.open {
            display: flex;
        }
        li button.menu-item {
            display: none;
        }
        li button.open {
            display: flex;
        }
        .close::before {
            content: "❌ ";
        }
        .active {
            background-color: rgba(0,0,0,0.1);
            font-weight: 700;
        }
        
    /* 2 Header 2 */
    header 
       {display: flex;
        flex-direction: column;
        width: 100%;
        background-color: lightgoldenrodyellow;}
    header img 
       {width: 100px;
        margin: auto;
        padding-top: 1rem;}
    header h1 
       {color: chocolate;
        font-family: 'Raleway', sans-serif;
        font-size: 2.5rem;
        margin: auto;
        padding: 0.5rem;}

    /* 3 Hero 3 */
    .hero {
        margin-top: 2rem;
        position: relative;
        height: auto;
    }
    .hero img {
        width: 100%;
        height: auto;
        object-fit: cover;
    }
    .herolabel {
        position: absolute;
        top: 30px;
        left: 30px;
        background: radial-gradient(#fff, #4D5B97);
        border: 1px solid rgba(0,0,0,.75);
        padding: 1.5rem;
        box-shadow: 0 0 3rem #fff;
        opacity: 0.75;
    }
    .herolabel p {
        margin: 0;
        padding: .25rem;
        font-weight: 700;
        font-size: 1.85rem;
        font-family:"Great Vibes", serif;
    }

    /* 4 Main 4 */
    main 
       {background-color: white;
        font-family: 'Raleway', sans-serif;
        font-size: 1.5rem;
        max-width: 760px;
        margin: 1rem;}
    main h2 
       {font-family: serif;
        font-size: 2rem;
        margin: auto;
        padding: 2rem;}
    main section 
       {background-color: #eeeeee;
        border: 1px solid #bbbbbb;
        padding-left: 1rem;
        padding-right: 1rem;
        margin-bottom: 1rem;}
    main section ul.no-bullets 
       {list-style-type: none;
        padding-left: 0;}
    iframe 
       {margin-bottom: 2rem;}
    .website-counter 
       {background-color: #ff4957;
        height: 50px;
        width: 80px;
        color: white;
        border-radius: 30px;
        font-weight: 700;
        font-size: 25px;
        margin-top: 10px;}

    /* 4 Footer 4 */
    footer 
       {font-family: 'Raleway', sans-serif;
        display: flex;
        flex-direction: column;
        background-color: navy;
        color: white;
        width: 100%;
        padding-top: 1rem;
        padding-bottom: 1rem;}
    footer p 
       {margin: auto;}